Справка для администратора. Все команды ниже используются только в чате администраторов.

Команды:

/{{ .HelpAdminCommand }}} – Текущая справка.
{{ .MuteCommandFormat }} – Ограничить пользователя в домовом чате.
{{ .UnmuteCommandFormat }} – Снять ограничения с пользователя в домовом чате.
{{ .BanCommandFormat }} – Забанить пользователя в домовом чата.
{{ .UnbanCommandFormat }} – Разбанить пользователя в домовом чата.

<a href="{{ .RulesURL }}">Ссылка на правила</a>.