Привет, житель нашего дома! Твоя заявка на вступление в <a href="{{ .InviteURL }}">чат</a> дома по адресу {{ .HomeAddress }} одобрена.

Вся основная информация о чате собрана на его <a href="{{ .ChatSiteURL }}">сайте</a>. Прежде чем начать общаться, советуем ознакомиться с правилами и полезными ссылками. Возможно, часть вопросов отпадет сама собой.

В чате есть достаточно много тем, содержимое большинства из них понятно из названия. Особо обратите внимание на две темы чата:

<b>"Новости дома"</b> — в данной теме публикуются новости как от Совета дома, так и могут быть опубликованы новости от самих жителей, через администраторов чата.
<b>"Административное"</b> — публикуется все, что касается работы самого чата.

Особо обратите внимание, что правилами запрещено публиковать одно и то же сообщение в несколько тем чата сразу, равно как и злоупотреблять публикацией сообщений, не относящихся к теме чата.

Также у меня есть несколько полезных команд, о них можно узнать, выполнив команду /help.

Приятного общения!
