#JOIN_REQUEST
Новая заявка на вступление в чат.

Чат: <a href="{{ .ChatURL }}">{{ .ChatName }}</a>
user_id: {{ .UserID }}
username: @{{ .Username }}
firstname: {{ .Firstname }}
lastname: {{ .Lastname }}