#REPORT
Новое нарушение правил:

Чат: <a href="{{ .ChatURL }}">{{ .ChatTitle }}</a>
Челобитчик: {{ .ReporterUsername }} (ID: <code>{{ .ReporterID }}</code>)
Уточнение: {{ .Clarification }}
Ссылка: {{ .MessageLink }}
Нарушитель: {{ .ViolatorUsername }} (ID: <code>{{ .ViolatorID }}</code>)

Сообщение:
<blockquote>{{ .Text }}</blockquote>