#USER_LEFT
Пользователь покинул чат :-(

Чат: <a href="{{ .ChatURL }}">{{ .ChatName }}</a>
user_id: <code>{{ .UserID }}</code>
username: @{{ .Username }}
firstname: {{ .Firstname }}
lastname: {{ .Lastname }}